:root {
    --clr-text: #004880;
    --clr-textDark: #093252;
    --clr-textHover: #E3F2FF;
    --clr-fadeGray: #b2b1b1;
}

body {
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1200px !important;
}
.btn-outline-secondary{
    color: #093252;
    background-color: #fff;
    border: 2px solid #093252;
    outline: 0;
}
.btn-outline-secondary:hover{
    color: #3399E8;
    background-color: #fff;
    border: 2px solid #3399E8;
    outline: 0;
}

.navitem-padding {
    padding-block: 20px;
    padding-inline: 14px;
}

.logo {
    width: 116px;
    height: 80px;
}

.textClr {
    color: var(--clr-text);
}

.bgFooter {
    background-color: var(--clr-textDark);
}

.fadeGray {
    color: var(--clr-fadeGray);
}

.exam-bg {
    background-color: #faf9f9;
}

.bgClr {
    background-color: #fff;
}

.textClr:hover {
    /* color: #fff; */
    background-color: var(--clr-textHover);
}

.modal {
    display: none;
}

.modal-content {
    margin-top: 25%;
}
.register-btn {
    display: block;
    padding-inline: 15px;
    padding-block: 8px;
    border: none;
    margin-left: auto;
    color: #fff;
    background-color: var(--clr-text);
    border-radius: 6px;
}


/* footer  */
.footer-heading {
    font-size: 14px;
    font-weight: 400;
    color:#fff ;
}

.footer-text {
    font-size: 12px;
    color: #c0c0c0;
    margin-bottom: 4px;
}

.home-banner{
    position: relative;

}
h2{
    font-size: 54px;
    color: #000;
    line-height: 1.2;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.home-banner{
    padding: 90px 0;
    position: relative;
    min-height: 500px;
}
.bg-half-circle{
    width: 1200px;
    height: 900px;
    border-radius: 0 0 100% 100%;
    background: transparent linear-gradient(180deg, #FFFFFF 60%, #C1E1FFF0 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.home-banner h2{
    color: #004880;
    font-size: 38px;
    line-height: 1.2;
}
.product-link{
    color: #004880;
    font-weight: 600;
}
.product-link:hover{
    text-decoration: underline;
}

.dada{
    padding: 60px 0;
    background-color: #f3f9ff;
}
.dada h2{
    font-size: 66px;
}
.dada h6{
    font-size: 22px;
    color: #092e4f;
    font-style: italic;
    font-weight: 600;
    line-height: 1.5;
}


.personal{
    padding: 140px 0 90px;
    background-image: url(../assets/images/Homepage_Personal-section_1920X1100.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.small-title{
    font-size: 18px;
    color: #707070;
    border-left: 3px solid #ED3B25;
    padding-left: 10px;
    line-height: 1;
    font-weight: 600;
}
.col-box{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 30px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.icon img{
    height: 40px;
    width: auto;
    margin-bottom: 10px;
}
.col-box h3{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
.col-box p{
    font-size: 13px;
    color: #707070;
}

.nri{
    background-image: url(../assets/images/nri-banner.png);
}


@media (max-width:767px){
    h2{
        font-size: 24px;
        
    }
    .home-banner{
        padding: 40px 0;
        min-height: auto;
    }
    /* .home-banner h2 br{
        display: none;
    } */
    .bg-half-circle{
        width: 100%;
        height: 400px;
    }
    .home-banner h2{
        font-size: 24px;
    }
    .dada h2{
        font-size: 24px;
        text-align: center;
    }
    .dada h6{
        text-align: center;
    }

    .personal{
        background-size: 100%;
        padding: 40px 0 0;
    }
    .mySwiper{
        padding: 10px 5px 40px;
    }
}