{% extends 'base.html' %}


{% block content %}
    <div class="exam-bg py-1">
        <div class="container-md">
            <div class="row py-3 px-4 my-4 question-card bgClr">
                <p><strong>Name : {{ name }}</strong></p>
                <p><strong>Email : {{ email }}</strong></p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for qus in questions %}
                    <div class="row py-3 px-4 my-4 question-card bgClr">
                        <!-- question-1 -->
                        <h4 class="question fw-medium fs-5">{{ qus }}</h4>
                        <!-- option-1 -->
                        <div class="form-check ms-4 mt-2">
                            <input class="form-check-input" type="radio" name="q_{{qus.id}}" value="{{ qus.option_1 }}" id="q_{{qus.id}}" required>
                            <label class="form-check-label" for="q_{{qus.id}}">{{ qus.option_1 }}</label>
                        </div>

                        <!-- option-2 -->
                        <div class="form-check ms-4 mt-2">
                            <input class="form-check-input" type="radio" name="q_{{qus.id}}" value="{{ qus.option_2 }}" id="q_{{qus.id}}" required>
                            <label class="form-check-label" for="q_{{qus.id}}">{{ qus.option_2 }}</label>
                        </div>

                        <!-- option-3 -->
                        <div class="form-check ms-4 mt-2">
                            <input class="form-check-input" type="radio" name="q_{{qus.id}}" value="{{ qus.option_3 }}" id="q_{{qus.id}}" required>
                            <label class="form-check-label" for="q_{{qus.id}}">{{ qus.option_3 }}</label>
                        </div>

                        <!-- option-4 -->
                        <div class="form-check ms-4 mt-2">
                            <input class="form-check-input" type="radio" name="q_{{qus.id}}" value="{{ qus.option_4 }}" id="q_{{qus.id}}" required>
                            <label class="form-check-label" for="q_{{qus.id}}">{{ qus.option_4 }}</label>
                        </div>  
                    </div>
                {% endfor %}
                <div class="row my-4">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
    

