{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}


{% block content %}
    <section class="home-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="bg-half-circle"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="personal">
        <div class="container">
            <h3 class="small-title"><em>Personal Banking</em></h3>
            <h2>Bank when you want, <br> the way you want​​</h2>
            <p class="mb-5"> Easy accounts, deposits, cards, loans and insurance for you and your family </p>

            <div class="row">
                <div class="col-md-4">
                    <div class="col-box">
                        <div class="icon"><img src="/static/assets/images/savings.png" alt=""></div>
                        <h3 class="text-capitalize"> Savings Accounts</h3>
                        <p> Use our attractive interest rates on your savings to step closer to your dreams </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-box">
                        <div class="icon"><img src="/static/assets/images/homeloan.png" alt=""></div>
                        <h3 class="text-capitalize"> Home Loan</h3>
                        <p>  Wake up in your own dream home with easy-to-avail Home Loans  </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-box">
                        <div class="icon"><img src="/static/assets/images/Group 1298@2x_0.png" alt=""></div>
                        <h3 class="text-capitalize"> Gold Loan   </h3>
                        <p>  ​​Get our instant Gold Loan with quick processing and minimal documentation </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="py-5">
        <div class="container-xl">
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
   
    
{% endblock content %}


    
    