<nav class="navbar py-0 navbar-expand-lg bg-body-tertiary">
    <div class="container-xl">

        <img src="/static/assets/logo/bandhan-bank-logo.png" class="rounded logo" alt="bandhan bank logo">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 fw-medium  mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-current="page" href="#">
                        <p class=" textClr mb-0 navitem-padding ">
                            Register
                        </p>
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="{% url 'weekly-winners' %}">
                        <p class="textClr mb-0 navitem-padding">
                            Weekly Winner
                        </p>
                    </a>
                </li>


            </ul>

        </div>
    </div>
</nav>