{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container text-center my-5">
        <div class="row">
            
            {% for winner in winners %}
                <div class="col"> 
                    <div class="card" style="width: 18rem; margin-inline: auto;">
                        <img src="/uploads/{{winner.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ winner.name }}</h5>
                            <p class="card-text">{{ winner.desc }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
            

        </div>
    </div>
{% endblock content %}
    